

body {
    background: url("https://wallpaperaccess.com/full/254361.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width:100vw;
  }
main {
    height: 90vh;
    width:100vw;
}

.wrapper {
    display:grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 3em;
}

#searchcity {
    font-size: 6em;
    margin-top: 2em;
    margin-left: 1em;
    font-family: 'IBM Plex Serif', serif;
}

#search {
    margin-left: 340px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    margin-left: 250px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    /* transition: width 0.4s linear; */
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .iconimgs:hover { 
        transform: scale(1.4); 
        }


  @media screen and (max-width:770px){
            #searchcity {
                font-size: 5em;
            }
            .searchbar{
                position: relative;
                right:90px;
            }
        }

  @media screen and (max-width:640px) {
            #searchcity {
                font-size: 4em;
            }
            .searchbar{
                position: relative;
                right:150px;
        }
    }
    @media screen and (max-width:612px) {
        .searchbar{
            position: relative;
            right:150px;
    }
    .nohover { 
        display: inline-block;
        width:200px;
    }
    .search_icon {
        position: relative;
        bottom: 40px;
    }
}

    @media screen and (max-width:530px) {
        #searchcity {
            font-size: 3.7em;
            margin-left: 80px;
        }
        .searchbar{
            position: relative;
            right:150px;
    }
}

@media screen and (max-width:495px) {
    #searchcity {
        font-size: 3em;
        margin-left: 80px;
    }
    .searchbar{
        position: relative;
        right:180px;
}
}
@media screen and (max-width:429px) {
    #searchcity {
        font-size: 2.7em;
        margin-left: 80px;
        text-align: center;
    }
    .searchbar{
        position: relative;
        right:180px;
}
}
@media screen and (max-width:387px) {
    #searchcity {
        font-size: 2.3em;
        margin-left: 80px;
    }
    .searchbar{
        position: relative;
        right:210px;
}
.nohover { 
    display: inline-block;
    width:20px;
}
.search_icon {
    position: relative;
    bottom: 40px;
}
}


#about {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100vh;
    width: 100vw;
}

.sec2h1 {
    margin-top: 100px;
}

#scrolldown {
    height: 80px;
    width: 60px;
    position:absolute;
    left: 50%;
    bottom: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.color::before,
.color::after {
    content: '';
    position:absolute;
    top: 20%;
    left:50%;
    border: 3px solid white;
    height:20px;
    width: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrolldown 1s ease-in-out infinite;
}
.color::after {
    top: 30%;
    animation-delay: .2s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top:90%
    }
}

.weather1{
    position: relative;
    top: 50px;
    left: 470px;
    width:50%;
    max-width: 80%;
    height:700px;
    transform: translate(-50%), -50%;
    border: 3px solid rgb(213, 213, 213);
    border-radius: 10px;
    z-index: 10;
    background-color:rgb(0, 0, 0);
    color: white;
}


.weatherheader{
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.weatherheader .cityname {
    font-size: 2rem;
    font-weight: bold;
}

.weatherheader .closebutton {
    cursor: pointer;
    border:none;
    outline:none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.weatherbody {
    padding:10px 15px;
}


.weatherbody .temp {
    font-size: 8rem;
    font-weight: 800;
    text-shadow: 2px 5px rgba(0,0,0,0.65);
}

.weatherbody .forecast {
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
    margin-top: 20px;
    text-shadow: 0px 3px rgba (0,0,0,0.4);
}
.temp span {
font-weight: 300;
font-size: 8rem;
}

.weatherbody .hilow {
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 0px 3px rgba (0,0,0,0.4);
    position: relative;
    top: 100px;
}